// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;


// These three colors below will be our brand!
$yellow: #F7BD2A;
$light-gray: #D1D1D1;
$turquoise: #72BFB6;

