
.nav-item {
  margin-top: 0px;
  font-size: 15px;
  justify-content: space-around;

  a {
  color: black;
  }
}

.nav-pills {
  box-shadow: 0px 2px 9px grey;
  color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #898989;
  box-shadow: 0px 2px 7px #F7BD2A;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 25px -7px rgba(120,120,120,1);
-moz-box-shadow: 0px 0px 25px -7px rgba(120,120,120,1);
box-shadow: 0px 0px 25px -7px rgba(120,120,120,1);
}

.inner-box-shadow {
  -webkit-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,1);
-moz-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,1);
box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,1);
}

.dashboard-link {
  color: grey;
}

.dashboard-link:hover{
    color: white;
  }

.active{
    color: white;
  }

