<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "sign up", new_user_registration_path %>
<%= link_to "Become an agent", new_user_registration_path(agent: true) %>


<%= link_to "View Services", services_path %>
