<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url('<%= asset_path("Agent_and_Client.jpg")%>')">
  <div class="container">
    <h1>The <strong>future</strong> of real estate services!</h1>
    <div class="banner-text"><p>Zero Comission   |  No Contracts  |  Zero Pressure</p></div>
    <a class="btn btn-warning" href="#">How it Works</a>
    <a class="btn btn-warning" <%= link_to "View Services", services_path %> </a>
  </div>
</div>



