<ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#My-Job-Listings" role="tab" aria-controls="pills-home" aria-selected="true">My Job Listings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#Jobs-In-Progress" role="tab" aria-controls="pills-profile" aria-selected="false">Jobs in Progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#Past-Jobs" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">My Past Jobs</a>
  </li>
</ul>


<div class="tab-content" id="pills-tabContent">
<!--   JOB LISTINGS TAB -->
 <div class="tab-pane fade show active" id="My-Job-Listings" role="tabpanel" aria-labelledby="pills-home-tab">
    <div id="My-Job-Listings" class="">
      <h3>My Job Listings</h3>
      <% @job_listings.each do |job_listing| %>
        <%= render "shared/new_offer_listing_card", job_listing: job_listing %>
        <% end %>
    </div>
  </div>

<!--   JOB PROGRESS TAB -->
  <div class="tab-pane fade" id="Jobs-In-Progress" role="tabpanel" aria-labelledby="pills-profile-tab">
      <h3>Jobs In Progress</h3>
      <p>List of jobs that agents are working on!</p>
  </div>


<!--   Past Jobs -->
  <div class="tab-pane fade" id="" role="tabpanel" aria-labelledby="pills-contact-tab">
    <h3>Past Jobs</h3>
    <p>ALl the jobs that are completed!</p>
  </div>
</div>

<a class="btn btn-warning" href="/" >Home Page</a>


