
<div class="headbanner">
  <h1 style="padding-bottom: 10px; padding-left: 50px;"><%= @job_listings.count %> Open Job Listings</h1>
    <p>Submit your offer your services</p>
</div>


<!-- job listings index, show all the listing for agent side-->
<section class='listings'>
  <div class='container-fluid'>
    <div class="Cards">
        <div class="col-md-10">
          <div class='cards'>
            <% @job_listings.each do |job_listing|  %>
             <div class='grid-item'>
                 <%= render "shared/job_listing_card", job_listing: job_listing %>
             </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</section>
<h6>No more listing!</h6>
<p>Try changing your filters</p>
