.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 110vh;
  width: auto;
}

.banner-text{
  display: flex;
}
.banner h1 {

  margin: 20px 90px 20px 0px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  font-size: 40px;
  font-weight: lighter;
}

.banner p {
  margin: 0px 90px 20px 0px;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: -webkit-left;
  padding: 0;
}

.styled-container {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 50px;
  padding-top: 80px;
}


.btn {
  margin: 20px 30px 20px 0px;
  width: 172px;
}
